@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
  background-image: linear-gradient(45deg, #13547a, #80d0c7);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
#root {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 20px;
  overflow: hidden;
  height: 300px;
}
.top-panel {
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 80%;
}
.left {
  background-color: #fff;
  border: 0;
  color: #c3cfe2;
  font-size: 26px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}
.right {
  background-color: #afbacb;
  border: 0;
  color: #fff;
  font-size: 26px;
  padding: 25px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  width: 300px;
}
.bottom-panel {
  background-color: #fff;
  border: 0;
  color: #c3cfe2;
  font-size: 26px;
  letter-spacing: 1px;
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*  border-top: 1px solid #afbacb;*/
}
input:focus {
  outline: none !important;
}
button {
  width: 20%;
  background-color: #afbacb;
  border: 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
}
.prefix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
h4 {
  font-size: 0.8rem;
  font-family: 'Red Hat Display', sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
}
input {
  background-color: #afbacb;
  border: 0;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  height: 20%;
  text-align: center;
  margin: 5px;
  width: 50%;
  font-size: 0.8rem;
  font-family: 'Red Hat Display', sans-serif;
}
.label {
  width: 100px;
}
.twrap {
  overflow: hidden;
  padding: 0px 0px 0px 12px;
  max-width: 80%;
  max-height: 60%;
  min-height: 55%;
  min-width: 65%;
}
.selected {
  background-color: #d0311d;
  border-radius: 5px;
  border-left: 8px solid #d0311d;
}
.disabled {
  background-color: #e4e8ee;
}
@media only screen and (max-width: 1200px) {
  .top-panel {
    flex-direction: column;
  }
  .container {
    height: 500px;
    min-width: 350px;
  }
  .right {
    height: 100%;
  }
  .prefix {
    width: 100%;
  }
}
